[class*="col-"] {
    background-color: blue;
    text-align: center;
    color: white;
    padding: 10px;
    border: 1px solid white;
}

.row .row [class*="col-"] {
    background-color: green;
    border: 1px solid blue;
    padding: 15px;
}